.mybooking__class {
    padding-left: 1rem;
}

.mybooking {
    display: grid;
    padding: 1.5rem;
    gap: 0.2rem;
    height: 90%;
    background: var(--color-bg);
    border-radius: 0.5rem;
    width: 120%;
}

.mybooking__container {
    display: grid;
    gap: 0rem;
    transition: all 300ms ease;
}

.mybooking h4 {
    line-height: 1;
    margin-bottom: 0.5rem;
}

.mybooking__class h2 {
    margin-bottom: 1rem;
    padding-left: 0%;
    background: linear-gradient(to right,var(--color-danger), var(--color-primary));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.mybooking ul {
    margin-top: 0rem;
    font-size: 90%;
}

/*tablet*/

@media screen and (max-width: 1024px){

    .mybooking__class {
        width: 80%;
    }

    
}



/* mobile */

@media screen and (max-width: 600px) {
.mybooking {
        display: grid;
        grid-template-columns: 1fr;
    }
   
}